/* INICIO AJUSTES GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    list-style: none;
    color: var(--color_blanco);
}
a:hover{
    color: var(--fondo-body);
}
strong{
    color: rgb(233, 22, 22);
}
.chat-box strong{
    color: var(--color_primario);
}
ul{
    list-style: none;
}
.text_center{
    text-align: center;
}
:root{
    --altura_header:10vh;
    --color_fondo: #1B3A57;
    --color_primario: #008d95;
    --color_secundario: #006380;
    --color_blanco: white;
    --fondo-body: #f9f9f9;
    --altura_footer:10vh;
    --color-primary-button:#006380;
    --color-secundary-button:#008d95;
}

/* Asegura que `html` y `body` ocupen toda la altura */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Oculta la barra de scroll en Chrome, Safari y Edge */
#main_panelUser::-webkit-scrollbar,#main-asistente::-webkit-scrollbar, #main_Sintomas::-webkit-scrollbar , #main-tratamientos::-webkit-scrollbar {
    display: none;
}


/* Contenedor principal usando `flexbox` */
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mínimo 100% del alto de la pantalla */
}
/* `main` crece para ocupar todo el espacio restante */
#main_panelUser, #main-calendar, #main-asistente, #main-tratamientos {
    flex: 1;
    padding: 20px;
    overflow: auto; /* Evita el desbordamiento */
}

.icon{
    color:var(--color-primary-button);
}
/* FIN AJUSTES GENERALES */

/* INICIO HEADER */
@media screen and (min-width:1023px) {
    header{
        min-height: var(--altura_header);
        max-width: 100vw;
        background-color: var(--color_fondo);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        .section_header{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100vw;
            padding: 0 40px;
            picture{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                img{
                    width: 70px;
                    height: auto;
                }
            }
        }
        .section_nav{
            width: 45%;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                li{
                    padding: 0 20px;
                }
            }
        }
        .section_user{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 25%;
            padding: 0;
            a{
                width: max-content;
            }
            picture {
                width: 10%;
                img{
                    width: 20px;
                    height: auto;
                }
            }
        }
    }
}

/* Inicio Menu Responsive */
/* Botón de menú hamburguesa */
.menu-toggle { 
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-toggle span {
    background: var(--color_blanco);
    height: 4px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Menú en Desktop */
@media screen and (max-width: 1023px) {
    .menu-toggle {
        display: flex;
    }
    header{
        min-height: var(--altura_header);
        background-color: var(--color_fondo);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        color: white;
        .section_header{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100vw;
            padding: 0 40px;
            picture img{
                width: 35px;
                height: auto;
            }
        }
        .section_user{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 25%;
            padding: 0 10px;
            font-size: 15px;
        }
    }

    .menu-toggle{
        width: 20px;
        height: 18px;
    }
    .nav-links {
        position: absolute;
        top: var(--altura_header);
        left: 0;
        width: 100%;
        height: 0;
        background: var(--color_fondo);
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    .nav-links.show {
        height: 200px;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
/* Fin Menu en Desktop */
/* FIN HEADER */

/* INICIO PAGINAS USUARIO */
/* INICIO MAIN PANEL USER */
#main_panelUser{
    width: 100vw;
    height: 80vh;
    background-color: var(--fondo-body);
    .section_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
}

.section_panelUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .nav_panelUser{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;
            height: 50px;
            background-color: var(--color-primary-button);
        }
        a{
            color: var(--color_blanco);
        }
        a:hover{
            color: var(--color_blanco);
            border-bottom: 1px solid white;
        }
    }

}

.dashboard-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin-top: 20px;
    width: 90%;
    card{
        width: max-content;
    }
}

.dashboard-overview {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    padding: 20px;
    width: 80%;
    margin: auto;
}
.card {
    color: var(--color-primary-button);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wide-card {
    grid-column: span 2;
}

/* FIN MAIN INDEX*/


/* INICIO PÁGINA GESTION DE CITAS */
#main-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: var(--fondo-body);
}



#formulario {
    background: var(--color_blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 60%;
    margin: 20px;
}

#formulario h2 {
    text-align: center;
    color: var(--color_primario);
}

#formulario label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

#formulario input, #formulario select, #formulario button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--color_secundario);
    border-radius: 5px;
}

#formulario button {
    background: var(--color-primary-button);
    color: var(--color_blanco);
    font-weight: bold;
    cursor: pointer;
}

#formulario button:hover {
    background: var(--color-secundary-button);
}

#calendario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: var(--color_blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 60%;
}

#calendar {
    color: var(--color_secundario);
    width: 100%;
    max-width: 100%;
    .fc-view-container {
        width: 100%;
    }
    .fc-dayGridMonth-view {
        width: 100%;
    }
}


/* FIN PÁGINA GESTION DE CITAS */


/* INICIO POOP UP ASISTENTE VIRTUAL */
#chat-toggle {
    position: fixed;
    bottom: 120px;
    right: 20px;
    background-color: var(--color_secundario);
    color: white;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  #chat-box {
    position: fixed;
    bottom: 180px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    z-index: 1000;
    overflow: hidden;
  }
  
  #chat-header {
    background-color: var(--color_secundario);
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        cursor:pointer;
    }
  }
  
  #chat-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
  }
  
  #chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  #chat-input {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
/* FIN POOP UP ASISTENTE VIRTUAL */


/* INICIO PAGINA REGISTRO SINTOMAS */¡
.section_Sintomas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    h1{
        margin: 15px;
        font-size: 24px;
    }
}
#form-sintomas { 
    width:  70%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    background: var(--color_blanco); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px #ddd; 


    textarea { 
        resize: vertical; 
        width: 100%;
        font-size: 0.95rem;
    }
}
#form-sintomas input, #form-sintomas select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--color_secundario);
    border-radius: 5px;
}
#form-sintomas button {
    grid-column: span 2;
    background-color: var(--color-primary-button);
    color: var(--color_blanco);
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
#form-sintomas button:hover {
    background-color: var(--color-secundary-button);
}

.filtro-Registro{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 100px;
}
/* Contenedor de filtros */
#filtros {
    width:  20%;
    margin-top: 20px;
    background: var(--color_blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
#filtros label {
    flex: 1;
    min-width: 200px;
}

/* Historial de síntomas */
#registros {
    width:  40%;
    margin-top: 20px; 
    background: var(--color_blanco); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px #ddd;
}
.tabla_Registros {
    width: 100%; 
    border-collapse: collapse; 
}
.tabla_Registros th, .tabla_Registros td {
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: center; 
}

/* Gráfico de evolución */
#graficos {
    width:  70%;
    margin-top: 30px; 
    background: var(--color_blanco); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px #ddd; 
}
/* FIN PAGINA REGISTRO SINTOMAS */


/* INICIO PÁGINA REGISTRO DE TRATAMIENTOS */
#formulario-tratamientos {
    background: var(--color_blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    h2 {
        text-align: center;
        color: var(--color_primario);
    }
    label {
        font-weight: bold;
        margin-top: 10px;
        display: block;
    }
    input, select, textarea, button {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid var(--color_secundario);
        border-radius: 5px;
        font-size: 0.95rem;
    }
    textarea {
        resize: vertical;
        min-height: 80px;
    }
    button {
        background: var(--color-primary-button);
        color: var(--color_blanco);
        font-weight: bold;
        cursor: pointer;
        margin-top: 15px;
    }
    button:hover {
        background: var(--color-secundary-button);
    }
    .lb-checkbox{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 30px 0px;
        input{
            width: 50px;
            height: 100%;
        }
    }
    
}

#tratamientos-activos {
    list-style: none;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#tratamientos-activos li {
    background: var(--color_blanco);
    border-left: 6px solid var(--color_primario);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

#tratamientos-activos li button {
    background: transparent;
    border: none;
    color: var(--color_primario);
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

#tratamientos-activos li button:hover {
    color: var(--color_secundario);
    text-decoration: underline;
}

#tratamientos-activos .card {
    margin-bottom: 20px;
}
/* Botón de eliminar estilo sistema */
.btn-eliminar {
    background-color: var(--color-primary-button);
    color: var(--color_blanco);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.btn-eliminar:hover {
    background-color: var(--color-secundary-button);
}

/* FIN PÁGINA REGISTRO DE TRATAMIENTOS */




/* INICIO PAGINAS USUARIO */


/* INICIO FOOTER */
footer{
    min-height: var(--altura_footer);
    background-color: var(--color_fondo);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    background-color: #1B3A57;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    picture img{
        width: 60px;
        height: auto;
    }
    .section_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
    }
}
.section_nav_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* FIN FOOTER */